:root {
  --layout-link: #ffffff;
  --layout-link-hover: #f4f7ff;
}

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

.navbar .nav-link {
  color: var(--layout-link);
}

.navbar .nav-link:hover,
.navbar .nav-link:focus,
.navbar .nav-link.active {
  color: var(--layout-link-hover);
}
