@{
	ViewData["Title"] = "S";
}
@model ProjetoMVC.Models.Fornecedor

	<div class="text-center">
		<h1>CRUD de Fornecedor</h1>
		<form asp-action="Create" method="post">
			<label>ID</label>
			<input asp-for="Id" />
			<label>NOME</label>
			<input asp-for="Nome" />
			<label>CNPJ</label>
			<input asp-for="Cnpj" />
			<label>TELEFONE</label>
			<input asp-for="Telefone" />
			<button type="submit">Salvar</button>
		</form>
	</div>